<div class="row">
  <div class="col-md-12">
    <input class="form-control form-control-lg" type="text" name="searchString" placeholder="Pesquisar algo..." [(ngModel)]="searchString.name">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div id="accordion">
      <div class="card" *ngFor="let personagem of listPersonagens | filterBy: searchString; let i = index;">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" [attr.data-target]="'#collapse'+i" aria-expanded="true">
              {{personagem.name}} ({{personagem.films.length}} filmes)
            </button>
          </h5>
        </div>

        <div id="collapse{{i}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <h3>Filmes: </h3>
            <ul>
              <li *ngFor="let filmeId of personagem.films"><a [routerLink]="['/filme', filmeId]">{{filterFilmeById(filmeId)?.title}} ({{filterFilmeById(filmeId)?.release_date | date: 'yyyy'}})</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
